<!doctype html>
<html>
	<body>
		<form action='/' method='post'>
			<input placeholder="Name" name='name'>
			<input placeholder="Post Content" name='post'>
			<input type="submit" value="Submit">
		</form>
		{% for post in posts %}
		<div> {{ post['name'] + ': ' + post['content'] }} </div>
		<form action='/delete_post/' method='post'>
			<input type="hidden" name="postID" value={{ post['id'] }}>
			<button name="delete_post" type="submit">Delete</button>
		</form>
		{% endfor %}
	</body>
</html>